---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: "open-sans", sans-serif;
$font-size-1: 1rem;
$font-size-2: 1.6154rem;
$font-size-3: 2.6154rem;
$font-size-4: 4.2308rem;
$font-size-5: 6.8462rem;
$font-size-6: .9rem;
$base-line-height: 1.3;

$navy:  rgb(20, 60, 90);
$grey-color:       #828282;
$grey-color-light: rgb(242, 242, 242);
$grey-color-dark:  darken($grey-color, 25%);
$red-color: rgb(245, 60, 10);
$tan: rgb(204, 102, 51);

$desktop:        1024px;



@mixin media-query($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax-highlighting";

body {
  background: $grey-color-light;
  font-color: $grey-color-dark;
  font-family: $base-font-family;
  font-size: 16px;
}

a:link {
  color: $red-color;
  text-decoration: none;
}

a:link:hover {
  text-decoration: underline;
}


.content {
  max-width: 1024px;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  @include media-query($desktop) {
    padding: 1rem;
  }
}

nav {
  padding-bottom: .5rem;
  font-weight: 700;
  max-width: 615px;
  text-align: center;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  @include media-query($desktop) {  
    padding-top: 4rem;
    padding-bottom: 7rem;
    text-align: center;
    margin: 0;
  }
  
  ul li {
    display: inline-block;
    padding-right: 1rem;
    @include media-query($desktop) {      
      padding-right: 2.25rem;
      padding-left: 2.25rem;

    }
  }
  
  a {
    border-bottom: 2px solid $red-color;    
    color: $red-color;
    display: block;
    font-size: $font-size-1;
    padding-bottom: .125rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.post {

}

.post-header {
  h1 {
    color: $grey-color-dark;
    font-size: $font-size-2;
    font-weight: 800;
    padding: 1rem 0;
    max-width: 615px;
    margin-left: auto;
    margin-right: auto;
    @include media-query($desktop) {
      margin: 0;
    }
  }

.post-date {
    color: $tan;
    font-size: $font-size-1;
    font-family: "open-sans-condensed";
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 0 2rem 0;
    max-width: 615px;
    margin-left: auto;
    margin-right: auto;
    @include media-query($desktop) {
      margin: 0;
    }
  }
}

.post-content {
  max-width: 615px;
  margin-right: auto;
  margin-left: auto;

  p {
    line-height: $base-line-height;
  }
  p + p {
    padding-top: 1rem;
  }
  div.highlight {
    margin: 1rem 0;
  }
}

.logo-large {
  display: none;
  @include media-query($desktop) {
    display: block;
    height: 200px;
    max-width: 200px;
    float: right;
    margin-top: -10rem;
    padding-right: 7rem;
  }  
}

.logo-small {
  background: $grey-color-light;
  display: block;
  text-align: center;
  max-height: 100px;
  max-width: 615px;
  margin-top: 0rem;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  @include media-query($desktop) {
    display: none;
  }  
}

article {
  @include media-query($desktop) {
    float: left;
  }
}

.about {
  background: white;
  height: 70px;
  max-width: 400px;
  width: 100%;
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
  color: $grey-color-dark;
  font-size: $font-size-6;
  line-height: 1.3;
  float: center;
  @include media-query($desktop) {
    clear: both;
}

.portrait {
  float: left;
  padding-right: 1rem;
}
}

.footer {
  background: grey-color-light;
  height: 70px;
  max-width: 1024px;
  width: 100%;
}

