---
layout: blank
title: Font Pairing Cheat Sheet
---

<div class="content">
    <div class="special-title">Stop Feeling Dumb about Pairing Fonts
    </div>
    <div class="sub-title">The Type Burrito Font Pairing Cheat Sheet
    </div>

<div class="rectangle">
  <div class="rectangle-border">

The Golden Rule of<br>
<div class="clarendon-emphasis">EVERYTHING:</div>
Know the objectives</br>
of your project.
  </div>
</div>

<h2>Typeface Basics</h2>

<p>Know whether you're looking for a <em>text face</em> (small type for body copy) or a <em>display face</em> (larger type to grab attention).
</p>

<h4>Display Face Rules:</h4>
<p>There are no rules! (Well, make sure it's readable.)
</p>

<h4>Text Face Rules:</h4>

Make sure the x-height isn't too short, and the counters aren't too small.
<p><img src="/images/combining_type/x-height_counters_serifs.png" alt="diagram showing x-height, counters, serifs"></p>

Nothing too high-contrast.
<p><img src="/images/combining_type/contrast.png" alt="contrast diagram"></p>

Nothing too dark or bold. If the text block seems dark, try adding more line spacing or just go with a different typeface.
<p><img src="/images/combining_type/color.png" alt="text block color illustration"></p>

<h2>Combining Type</h2>

<p><em>Start with the Text Face—</em>there's more of it so your design is more affected by that choice. Plus, falling in love with a particular display face can (in my opinion) sometimes box you in. 
</p>

<p><em>Think Unity and Variety</em> when you pair type: not too similar, not too much contrast between the faces.
</p>

<p><ul><em>Places to find Unity and/or Variety:</em><li>
• letter shapes (e.g., geometric forms?)<li>
• letter proportions (e.g., x-height to ascenders or descenders)<li>
• level of contrast<li>
• weight, width, or style of letterforms<li>
• time period of design<li>
• tools used to create/inspire the typeface (google it!)</ul>
</p>

<h3>Some Possible Approaches</h3>

<p>Stay in the same type family.
<img src="/images/combining_type/all_in_the_family.png" alt="type family acumin"></p>

<p>Tried and true: pair a serif with a sans-serif.
<img src="/images/combining_type/serif_sans.png" alt="serif with sans-serif"></p>

<p>Pair two typefaces with the same classification.
<img src="/images/combining_type/like_with_like.png" alt="like with like"></p>

<p>Use a script or handwriting font: I wouldn't recommend using these for the text face, but they can work great as a display face.
<img src="/images/combining_type/purpose_and_care.png" alt="use with purpose and care"></p>

<p>Remember, you know best what the objectives of your project are. When in doubt, <em>ground your decisions in what you want to achieve.</em></p>

<p>This is a shorter version of <a href="http://typeburrito.com/2016/03/18/stop-feeling-dumb-about-pairing-fonts.html">a more in-depth article on combining type</a>—you may want to read that if you're looking for a little more information.</p>

<p>If you found this helpful, sign up below to get a google fonts cheat sheet I'm working on, plus many more typography resources!
</p>

{% include cta.html %}

{% include about.html %}

</div>
