---
layout: default
title: Type Burrito
---

<img src="/images/coming_soon_web_type.png" />

<p>The web is 95% typography: master it!</p>

<p>Sign up to be notified when the guide is ready, and get a <em>free cheat sheet for pairing fonts!</em></p>

{% include cta.html %}

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      </li>
    {% endfor %}
  </ul>

<br>

  <p class="rss-subscribe"><i>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</i></a></p>

</div>
