---
layout: default
title: Type Burrito
---

<div class="hook">
<h1>The Web is 95% Typography.</br>Master It!</h1>
</div>

<div class="coming-soon">
<h2>Coming Soon</h2>
<h3>The <em>Ultimate </br>Guide</em> to </br>Web Typography.</h3>
</div>

<div class="coming-soon-cta">
  Sign up to be notified when the guide is ready, and get a <em>free cheat sheet for pairing fonts!</em>
</div>

{% include cta.html %}

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      </li>
    {% endfor %}
  </ul>

<br>

  <p class="rss-subscribe"><i>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</i></a></p>

</div>
