---
layout: default
title: Type Burrito
---

<div class="coming-soon">
  <p class="blank-line" </p>
  <p class="first-line">Coming soon!</p>
  <p class="second-line">Type Burrito's</p>
  <p class="third-line"><i>Guide to</i></p>
  <p class="fourth-line">Web Typography</p>
</div>

<p>Master the subtle art of typography for the web.</p>
<p>When you sign up, you'll be notified when the guide is ready, and you'll get a free cheat sheet for pairing fonts!</p>

{% include cta.html %}

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      </li>
    {% endfor %}
  </ul>

<br>

  <p class="rss-subscribe"><i>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</i></a></p>

</div>
