<div class="about-include">
	<div class="portrait">
  	<img src="/images/portrait_square.jpg" alt="square portrait" width="90px" height="120px">
	</div>
  	<div class="blurb">
  	Hi there, I'm Beth Fioritto—I'm a designer and type nerd in Chicago. I live here with my husband, 2-year-old son, and cat. You can find me elsewhere on the Internets on <a href="https://twitter.com/bfioritto">Twitter</a>, <a href="https://www.instagram.com/beth.fioritto/">Instagram</a>, and <a href="https://www.pinterest.com/bfioritto/">Pinterest</a>. Come say hi!
  	</div>
</div>
