<div class="about-include">
	<div class="portrait">
  	<img src="/images/portrait_square.jpg" alt="square portrait" width="90px" height="120px">
	</div>
  	<div class="blurb">
  	Hi there, I'm Beth—I'm a designer and type enthusiast. Interested in working with me? Email me: beth at typeburrito dot com. I'm on <a href="https://twitter.com/bfioritto">Twitter</a> and <a href="https://www.instagram.com/beth.fioritto/">Instagram</a>—come say hi! I live in Chicago with my husband and 2-year-old. 
  	</div>
</div>
