// Our variables
$base-font-family: "acumin-pro", sans-serif;
$header-font-family: "museo-slab", serif;
$font-size-1: 1rem;
$font-size-2: 1.2rem;
$font-size-3: 1.44rem;
$font-size-4: 1.73rem;
$font-size-5: 2.07rem;
$font-size-6: 2.49rem;
$font-size-7: 2.79rem; /* modular scale here should be 2.99 */
$font-size-8: 3.58rem;
$font-size-9: 1rem;
$base-line-height: 1.6;
$article-width: 710px;


$background-color: rgb(240, 240, 240);
$grey: rgb(140, 140, 140);
$black: rgb(75, 75, 75);
$white: rgb(255, 255, 255);
$red-orange: rgb(202, 38, 30);
$red-orange-bright: rgb(220, 55, 35);
$red-orange-dark: rgb(175, 40, 125);
$red-orange-light: rgb(240, 160, 140);
$teal: rgb(10, 115, 100);
$link: rgb(205, 70, 73); /* 218, 94, 125 */
$link-visited: rgb(175, 40, 125);

$desktop:        1024px;

@mixin media-query($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
