<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>

	<div class="banner">
    {% include nav.html %}
  	</div>
  	
    <div class="content">

  <div class="logo-small">
    <a href="/"><img src="/images/type_burrito_logo.png" alt="type burrito logo" style="width:100px;height:100px;"></a>
  </div>

    <div class="logo-large">
    <a href="/"><img src="/images/type_burrito_logo.png" alt="type burrito logo" style="width:200px;height:200px;"></a>
  </div>

      {{ content }}

    </div>
  </body>
</html>
